src/FuraFila.Payments.PagSeguro/Misc/CheckoutErrorResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" 
           elementFormDefault="qualified" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="errors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="error">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="code" type="xs:unsignedShort" />
              <xs:element name="message" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>